[project]
	description = tata defence
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/raghu90y
[access "refs/for/refs/*"]
	read = group user/raghu90y
	push = group user/raghu90y
	label-Code-Review = -2..+2 group user/raghu90y
	label-Verified = -1..+1 group user/raghu90y
	rebase = group user/raghu90y
	removeReviewer = group user/raghu90y
	submit = group user/raghu90y
[access "refs/heads/*"]
	read = group user/raghu90y
	create = group user/raghu90y
	push = +force group user/raghu90y
	pushMerge = group user/raghu90y
[access "refs/tags/*"]
	push = +force group user/raghu90y
	pushTag = group user/raghu90y
	pushSignedTag = group user/raghu90y
